<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>ToDo</title>
<link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <div id="myDIV" class="header">
        <h2>My To Do List</h2>
        <input name = "name" type="text" id="myInput" placeholder="Title...">
        <button type="submit" class="addBtn">Edit</button>
    </div>
    <ul id="myUL">
        <li>{{task.name}}</li>
    </ul>
</form>
</body>
</html>