<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>ToDo</title>
<link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
<body>
<form method="POST" action="create/">
    {% csrf_token %}
    <div id="myDIV" class="header">
        <span style = "font-size: 16px;"> Hello, {{ request.user }}</span>
        <span><a style = "font-size: 16px;text-decoration: none"href="{% url 'logout' %}">Logout</a></span>
        <h2>My To Do List</h2>
        <input name = "name" type="text" id="myInput" placeholder="Title...">
        <button type="submit" class="addBtn">Add</button>
    </div>
</form>
<ul id="myUL">
    {% for task in tasks %}
        <li><a href="delete/{{task.id}}" class="delete">✖</a>{{task.name}}<a href = "edit/{{task.id}}" class = "edit">✏</a></li>
    {% endfor %}
</ul>
</body>
</html>